<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>codathon ~ leaderboard</title>
		<link rel="stylesheet" href="../css/1140.css" type="text/css" />
		<link rel="stylesheet" href="../css/site.css" type="text/css" />
        <script src="{{jQueryScriptUrl}}" type="application/javascript"></script>
		<script src="../js/site.js" type="application/javascript"></script>
        <style type="text/css">
            .rank {
                width: 8%;
                float: left;
                padding: 0 1%;
            }
            .team {
                width: 60%;
                float: left;
                font-style: italic;
            }
            .points {
                width: 14%;
                float: left;
            }
            .time {
                width: 16%;
                float: left;
            }
            .leaderboard-heading {
                margin-bottom: .5em;
                padding: 0;
            }
            .contentContainer {
                height: 1em;
                line-height: 1.2em;
            }
        </style>
    </head>
	<body>
        {{wrapperElementStart}}
        <div style="text-align: left;">
            <div class="contentHeading">Leaderboard</div>
            <div class="contentContainer" style="border-bottom: 1px dotted #eee;">
                <div class="rank leaderboard-heading" style="width: 10%;"><i>Rank</i></div>
                <div class="team leaderboard-heading"><i>Team</i></div>
                <div class="points leaderboard-heading"><i>Points</i></div>
                <div class="time leaderboard-heading"><i>Time Taken</i></div>
            </div>
            {% for scoreData in leaderboard %}
                <div class="contentContainer" style="background: {{ loop.cycle('#222', '#111') }}; {% if scoreData[6] == 1 %}color: #f60;{% endif %}">
                    <div class="rank">{{scoreData[0]}}</div>
                    <div class="team">{{scoreData[1]}}</div>
                    <div class="points">{{scoreData[2]}}</div>
                    <div class="time">{{scoreData[3]}}h {{scoreData[4]}}m {{scoreData[5]}}s</div>
                </div>
            {% endfor %}
        </div>
        {{wrapperElementEnd}}
        {{footerElement}}
	</body>
</html>
