<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>codathon ~ questions</title>
		<link rel="stylesheet" href="../css/1140.css" type="text/css" />
		<link rel="stylesheet" href="../css/site.css" type="text/css" />
        <script src="{{jQueryScriptUrl}}" type="application/javascript"></script>
		<script src="../js/site.js" type="application/javascript"></script>
        <style type="text/css">
            .button {
                background: -moz-linear-gradient(#333, #222);
                background: -webkit-linear-gradient(#333, #222);
                background: -o-linear-gradient(#333, #222);
                background: -ms-linear-gradient(#333, #222);/*For IE10*/
                background: linear-gradient(#333, #222);
                filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#333', endColorstr='#222');/*For IE7-8-9*/ 
                -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
                border-color: #111 #111 #111;
                border-radius: 3px 3px 3px 3px;
                border-style: solid;
                border-width: 1px;
                color: #eee;
                cursor: pointer;
                display: inline-block;
                font-family: Helvetica,arial,freesans,clean,sans-serif;
                font-size: 1em;
                font-weight: bold;
                line-height: 2em;
                padding: 0 .9em;
                position: relative;
                white-space: nowrap;
            }
            .button:hover {
                background: -moz-linear-gradient(#599bdc, #3072b3) repeat scroll 0 0 transparent;
                background: -moz-linear-gradient(#599bdc, #3072b3);
                background: -webkit-linear-gradient(#599bdc, #3072b3);
                background: -o-linear-gradient(#599bdc, #3072b3);
                background: -ms-linear-gradient(#599bdc, #3072b3);/*For IE10*/
                background: linear-gradient(#599bdc, #3072b3);
                filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#599bdc', endColorstr='#3072b3');/*For IE7-8-9*/ 
                -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
                border-color: #518cc6 #518cc6 #2a65a0;
                color: #fff;
                text-decoration: none;
                text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
            }
        </style>
	</head>
	<body>
        {{wrapperElementStart}}
        <div style="text-align: left;">
            <div class="contentHeading">Questions
                <div id="nextQuestionTimeHint" style="float: right; font-weight: normal; font-size: .8em; font-style: italic; vertical-align: bottom;">[ 
                {% if currentTimeAsEpochTime <= contestStartTimeAsEpochTime %}
                    <b>codathon</b> has not started yet
                    <script>setInterval(function() { window.location.reload(); }, (({{contestStartTimeAsEpochTime}} - {{currentTimeAsEpochTime}} + 1) * 1000))</script>
                {% else %}
                    {% if currentTimeAsEpochTime >= (contestEndTimeAsEpochTime - (questionReleaseIntervalInMinutes * 60)) %}
                    <b>all</b> questions have been released{% if currentTimeAsEpochTime < contestEndTimeAsEpochTime %}...
                        <span id="minutesToNextQuestion">{% if timeToNextInterval//60 > 0 %}~{{timeToNextInterval//60}}{% else %}less than a{% endif %}</span>
                        minute<span id="minutesToNextQuestionPlurality">{% if timeToNextInterval//60 > 1 %}s{% endif %}</span> remaining{% endif %}
                    {% else %}
                        the <b>next</b> question will be released in
                        <span id="minutesToNextQuestion">{% if timeToNextInterval//60 > 0 %}~{{timeToNextInterval//60}}{% else %}less than a{% endif %}</span>
                        minute<span id="minutesToNextQuestionPlurality">{% if timeToNextInterval//60 > 1 %}s{% endif %}</span>
                    {% endif %}
                    <script type="application/javascript">
                        var firstInterval, regularInterval
                        var minutesToNextQuestion = {{timeToNextInterval//60}}
                        var numberOfReleasedQuestions = {{numberOfReleasedQuestions}}
                        var currentQuestionIndex = {{currentQuestionIndex}}
                        var questionData = {{questionData}}
                        function renderQuestion(currentQuestionIdx) {
                            questionCode = 'q'+currentQuestionIdx
                            if (questionData[questionCode] != null) {
                                $('#currentQuestionIndex').html(''+currentQuestionIdx)
                                $('#qTitle').html(questionData[questionCode].title)
                                $('#qDescription').html(questionData[questionCode].description)
                                $('#qInputFormat').html(questionData[questionCode].inputFormat)
                                $('#qOutputFormat').html(questionData[questionCode].outputFormat)
                                $('#qExample').html(questionData[questionCode]['example'])
                            }
                        }
                        function moveQuestionIndexBy(delta) {
                            var newQuestionIndex = currentQuestionIndex + delta
                            if ((newQuestionIndex >= 1) && (newQuestionIndex <= numberOfReleasedQuestions)) {
                                currentQuestionIndex = newQuestionIndex
                                renderQuestion(newQuestionIndex)
                            }
                        }
                        function releaseQuestion() {
                            numberOfReleasedQuestions++;
                            if (numberOfReleasedQuestions >= {{numberOfQuestions}}) {
                                clearInterval(regularInterval)
                                numberOfReleasedQuestions = {{numberOfQuestions}}
                                $('#nextQuestionTimeHint').html('[ <b>all</b> questions have been released ]')
                            }
                            $.ajax('/getQuestion?qIdx='+numberOfReleasedQuestions, {async: false,}).success(function(data, textStatus) {
                                                                                                                    questionData['q'+numberOfReleasedQuestions] = eval('('+data+')');
                                                                                                                    $('#numberOfReleasedQuestions').html(''+numberOfReleasedQuestions)})
                        }
                        function reduceMinute() {
                            if (minutesToNextQuestion-- == 0) {
                                releaseQuestion()
                                if (numberOfReleasedQuestions >= {{numberOfQuestions}}) return
                                minutesToNextQuestion = {{questionReleaseIntervalInMinutes}} - 1
                            }
                            if (minutesToNextQuestion == 0) {
                                $('#minutesToNextQuestion').html('less than a')
                                $('#minutesToNextQuestionPlurality').html('')
                            } else {
                                $('#minutesToNextQuestion').html('~'+minutesToNextQuestion)
                                $('#minutesToNextQuestionPlurality').html((minutesToNextQuestion > 1) ? 's' : '')
                            }
                        }
                        if ({{timeToNextInterval}}) {
                            firstInterval = setInterval(function() {
                                                            regularInterval = setInterval(reduceMinute, 60 * 1000)
                                                            clearInterval(firstInterval)
                                                            reduceMinute()
                                                        }, ({{timeToNextInterval}} % 60) * 1000)
                        }
                        $(function() {renderQuestion(currentQuestionIndex);})
                    </script>
                {% endif %} ]
                </div>
            </div>
            <div style="margin-top: .5em; height: 3em; font-weight: bold; width: 100%; padding-bottom: 0em;">
                <img src="../images/question.png" style="float: left; margin-right: 1em;" />
                <div id="currentQuestionIndex" style="float: left; font-size: 3.2em; line-height: 1em; padding-right: .1em; color: #f60;">{{numberOfReleasedQuestions}}</div>
                <div style="float: left; font-size: 1.8em; line-height: 1em; padding-right: .6em; letter-spacing: .1em; padding-top: 2px;">
                    /<span id="numberOfReleasedQuestions">{{numberOfReleasedQuestions}}</span>
                </div>
                <img class="arrows" src="../images/lt.png" style="margin: .2em 0 0; cursor: pointer;"
                {% if currentTimeAsEpochTime > contestStartTimeAsEpochTime %} onclick="moveQuestionIndexBy(-1)"{% endif %} />
                <img class="arrows" src="../images/rt.png" style="margin: .2em 0 0; cursor: pointer;"
                {% if currentTimeAsEpochTime > contestStartTimeAsEpochTime %} onclick="moveQuestionIndexBy(1)"{% endif %} />
                <script>
                    $(".arrows").hover(function() {$(this).css({opacity: .5})}, function() {$(this).css({opacity: 1})})
                </script>
            </div>
            <div style="display: block; height: 100%; font-size: .8em; font-style: italic; font-weight: normal; padding-bottom: 1em; border-bottom: 1px dotted #555;">
                {% if currentTeamName|length %}
                <div style="text-align: right;">
                    {{currentTeamName}}
                </div>
                <div style="text-align: right;">
                    <b><span id="points"></span> points</b> in <span id="hours"></span>h <span id="minutes"></span>m <span id="seconds"></span>s<br>
                    <script>
                        function setScoreData(score, timeTaken) {
                            $('#points').html(score)
                            $('#hours').html(zeroPad(parseInt(timeTaken/3600)))
                            $('#minutes').html(zeroPad(parseInt((timeTaken - (parseInt(timeTaken/3600) * 3600))/60)))
                            $('#seconds').html(zeroPad({{currentTeamTimeTaken%60}}))
                        }
                        setScoreData({{currentTeamPoints}}, {{currentTeamTimeTaken}})
                    </script>
                </div>
                {% endif %}
            </div>

            {% if currentTimeAsEpochTime > contestStartTimeAsEpochTime %} 
            <div style="font-size: .9em;">
                <div id="qTitle" style="font-weight: bold; padding: .6em 0; font-size: 1.2em; color: #bbb;">
                </div>
                <div id="qDescription" style="padding-bottom: .6em;">
                </div>
                <div style="font-weight: bold; padding: .6em 0;">
                    Input Format
                </div>
                <div id="qInputFormat" style="padding-bottom: .6em;">
                </div>
                <div style="font-weight: bold; padding: .6em 0;">
                    Output Format
                </div>
                <div id="qOutputFormat" style="padding-bottom: .6em;">
                </div>
                <div style="font-weight: bold; padding: .6em 0;">
                    Example
                </div>
                <div id="qExample" style="padding-bottom: .6em;">
                </div>
                <div style="font-weight: bold; padding: .6em 0;">
                    Test-Cases
                </div>
                <div style="display: block; padding: .05em; margin-bottom: 1em;">
                    <img src="../images/unsolved.png" style="display: inline; vertical-align: middle; margin-right: 1em; border-right: 0px solid #222;"/>
                    <img src="../images/unsolved.png" style="display: inline; vertical-align: middle; margin-right: 1em; border-right: 0px solid #222;"/>
                </div>
                <a id="downloadLink" class="button" style="margin-bottom: 2em;" href="" target="_blank">Download test-case</a>
                {% if currentTeamName|length %}
                    <textarea rows="8" wrap="off" style="background:#141414; margin-bottom:2em; border:2px solid #222; padding:.1em; color:#bbb; width:100%; resize:none; font-family:monospace;"></textarea>
                    <div class="button" style="margin-bottom: 2em;">Submit solution</div>
                {% endif %}
            </div>
            {% endif %}
            </div>
        {{wrapperElementEnd}}
        {{footerElement}}
	</body>
</html>
