<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>codathon ~ questions</title>		
        <script src="{{jQueryScriptUrl}}" type="application/javascript"></script>
		<script src="../js/site.js" type="application/javascript"></script>        
        <script src="../js/json2.js" type="application/javascript"></script>        
        <script type="text/javascript">
            function callMe()
            { 
            
            
                $.ajax({
      url: 'http://127.0.0.1:8080/checkResult',
/* working       data: { name: "John", location: "Boston", sol:"hello" },*/
        data:$("#questionForm").serialize(),
        success: function(data) {
        //var result = data;
        //alert(data);
        var result = JSON.parse(data);
        //alert(result);
        alert(result['_isSuccess']);
		var isSuccess = result['_isSuccess'];
		if(isValid(isSuccess) && isSuccess == 'true')
		{
			var nextQ = result['_nextQ'];
			if(isValid(nextQ))
			{	alert(nextQ);
				$('#questionTA').html(nextQ);
			}
		}
		
		
        //$('#question').html(data); //jQuery equivalent of  document.getElementById('thediv').innerHTML = data
      },
      error: function(data)
      { alert("failure");
      }
    });
            }
			
			function isValid(input)
			{
				if(input== undefined || input == null)
					return false;
				return true;
			}
            
            function ajaxCheck()
            {
                var str= $('#questionForm').serialize();
                alert(str);
            }
        </script>
	</head>
	<body>    
        {{wrapperElementStart}}
        <div id="mainContent">
           <div id="correct">
		         good. next Question
		   </div>
           <div id="wrong" style='display:block'>
		         Please try again..
		   </div>
           <form id="questionForm">
               <div id="question">
                     question
                     <textarea rows="2" cols="20" id="questionTA" name="questionArea">
At W3Schools you will find all the Web-building tutorials you need, from basic HTML to advanced XML, SQL, ASP, and PHP. 
</textarea>
               </div>
               <div id="solution">
               <input type="text" id="userSol" name="usersolution" value="Your answer.." id="sol"/><br />
                     
               </div>
               <div id="submit">
       <input type="button" id="submit" value="Submit" onClick="callMe()"/>
<!--        <input type="submit" value="send" name="submit"  onClick="ajaxCheck()"/> -->
               </div>
           </form>
		</div>
        {{wrapperElementEnd}}
        {{footerElement}}
	</body>
</html>
